/* Set background color for the form container */
.form-container {
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0 auto;

}


/* Transparent background for input fields */
.form-container input,
.form-container select,
.form-container button {
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    border: 1px solid #ced4da;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #FDD670; /* Adjust to the color from the screenshot */

}

.form-container input::placeholder {
    color: #333; /* Dark color for better readability */

}

/* Styling for the submit button */
.form-container .btn-submit {
    background-color: #FFA726; /* Slightly darker color for the button */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container .btn-submit:hover {
    background-color: #FF8A50; /* Darker shade on hover */
}
