<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Log In</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../../../assets/vendors/feather/feather.css">
    <link rel="stylesheet" href="../../../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../../../assets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../../../assets/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="../../../../assets/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="../../../../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- inject:css -->
    //css de login
    <link rel="stylesheet" href="../../../../assets/css/vertical-layout-light/style.css">
    <link rel="stylesheet" href="../../../../assets/css/Front_Office/logIn.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../../../assets/PureBuzzLogo.png" />
    
</head>

<body>
<div class="content-wrapper">
    <!-- Logo Section -->
    <div class="logo-section">
        <img src="../../../../assets/PureBuzzLogo.png" alt="PureBuzz Logo">
    </div>

    <!-- Form Container -->
    <div class="form-container">
        <h4>Log in to your PureBuzz account</h4>
        <h6 class="fw-light">Don't have an account? <a href="signUp.html" class="text-primary">Register</a></h6>
        <form class="pt-3">
            <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password" required>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary font-weight-medium auth-form-btn">Log in</button>
            </div>
            <div class="my-2 d-flex justify-content-between align-items-center">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Keep me signed in
                    </label>
                </div>
                <a href="#" class="auth-link text-primary">Forgot your password?</a>
            </div>
        </form>
    </div>
</div>

<!-- Footer -->

</body>
</html>
