<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit User </title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../../../assets/vendors/feather/feather.css">
    <link rel="stylesheet" href="../../../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../../../assets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../../../assets/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="../../../../assets/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="../../../../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../../../../assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="../../../../assets/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    //css et logo
    <link rel="stylesheet" href="../../../../assets/css/vertical-layout-light/style.css">
    <link rel="stylesheet" href="../../../../assets/css/Back_office/addUser.css">

    <link rel="shortcut icon" href="../../../../pages/samples/PureBuzzLogo.png" />


</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
            <div class="me-3">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>
            </div>
            <div>
                <a class="navbar-brand brand-logo" href="../../../../index.html">
                    <img src="../../../../assets/PureBuzzLogo.png" style="height: 80px;" alt="logo" />
                </a>

            </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-top">
            <ul class="navbar-nav">
                <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
                    <h1 class="welcome-text">Good Morning, <span class="text-black fw-bold">Miss SHAHD</span></h1>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">





                <li class="nav-item dropdown d-none d-lg-block user-dropdown">
                    <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="img-xs rounded-circle" src="../../../../assets/images/faces/face8.jpg" alt="Profile image"> </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                        <div class="dropdown-header text-center">
                            <img class="img-md rounded-circle" src="../../../../assets/images/faces/face8.jpg" alt="Profile image">
                            <p class="mb-1 mt-3 font-weight-semibold">Allen Moreno</p>
                            <p class="fw-light text-muted mb-0">allenmoreno@gmail.com</p>
                        </div>
                        <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My Profile <span class="badge badge-pill badge-danger">1</span></a>
                        <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-message-text-outline text-primary me-2"></i> Messages</a>
                        <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary me-2"></i> Activity</a>
                        <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-help-circle-outline text-primary me-2"></i> FAQ</a>
                        <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
            <div id="settings-trigger"><i class="ti-settings"></i></div>
            <div id="theme-settings" class="settings-panel">
                <i class="settings-close ti-close"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border me-3"></div>Light</div>
                <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border me-3"></div>Dark</div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles success"></div>
                    <div class="tiles warning"></div>
                    <div class="tiles danger"></div>
                    <div class="tiles info"></div>
                    <div class="tiles dark"></div>
                    <div class="tiles default"></div>
                </div>
            </div>
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../../../index.html">
                        <i class="mdi mdi-grid-large menu-icon"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item nav-category">User Managment</li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon mdi mdi-floor-plan"></i>
                        <span class="menu-title">User managment</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="addUser.html">Add User</a></li>
                            <li class="nav-item"> <a class="nav-link" href="AllUsers.html">Get All Users</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item nav-category">Forms and Datas</li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                        <i class="menu-icon mdi mdi-card-text-outline"></i>
                        <span class="menu-title">Form elements</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="form-elements">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="../../../../pages/forms/basic_elements.html">Basic Elements</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                        <i class="menu-icon mdi mdi-chart-line"></i>
                        <span class="menu-title">Charts</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="charts">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="../../../../pages/charts/chartjs.html">ChartJs</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                        <i class="menu-icon mdi mdi-table"></i>
                        <span class="menu-title">Tables</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="tables">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="../../../../pages/tables/basic-table.html">Basic table</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item nav-category">pages</li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                        <i class="menu-icon mdi mdi-account-circle-outline"></i>
                        <span class="menu-title">User Pages</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="auth">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="../../../../pages/samples/login.html"> Login </a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item nav-category">help</li>
                <li class="nav-item">
                    <a class="nav-link" href="http://bootstrapdash.com/demo/star-admin2-free/docs/documentation.html">
                        <i class="menu-icon mdi mdi-file-document"></i>
                        <span class="menu-title">Documentation</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel" style="background-color:#FDD670 ">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="home-tab">
                            <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="" role="tab" aria-controls="overview" aria-selected="true">Add user </a>
                                    </li>

                                </ul>

                            </div>
                            <div class="tab-content tab-content-basic">
                                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">

                                    <div class="row">


                                        <div class="row flex-grow">
                                            <div class="col-12 grid-margin stretch-card">
                                                <div class="card card-rounded">
                                                    <div class="card-body">
                                                        <div class="d-sm-flex justify-content-between align-items-start">

                                                        </div>
                                                        <div class="table-responsive  mt-1">
                                                            <div class="form-container">
                                                                <form id="editUserForm" enctype="multipart/form-data">
                                                                    <!-- Nom -->
                                                                    <input type="text" id="first_name" name="first_name" class="form-control" placeholder="Name" required>

                                                                    <!-- Prénom -->
                                                                    <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last name" required>

                                                                    <!-- Date de Naissance -->
                                                                    <input type="date" id="date_of_birth" name="date_of_birth" class="form-control" required>

                                                                    <!-- Email -->
                                                                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>

                                                                    <!-- Mot de Passe (Hidden/Not Editable) -->
                                                                    <div class="form-group">
                                                                        <label for="password">Password</label>
                                                                        <div class="input-group">
                                                                            <input
                                                                                    type="password"
                                                                                    id="password"
                                                                                    name="password"
                                                                                    class="form-control"
                                                                                    placeholder="Password"
                                                                                    readonly>
                                                                            <button
                                                                                    type="button"
                                                                                    id="togglePassword"
                                                                                    class="btn btn-secondary">Show</button>
                                                                        </div>
                                                                    </div>

                                                                    <!-- Role -->
                                                                    <select id="role" name="role" class="form-control-select" disabled>
                                                                        <option value="" disabled>Role</option>
                                                                        <option value="beekeeper">Beekeeper</option>
                                                                        <option value="Client">Client</option>
                                                                        <option value="Farmer">Farmer</option>
                                                                        <option value="Seller">Seller</option>
                                                                    </select>


                                                                    <!-- Sexe -->
                                                                    <select id="gender" name="gender" class="form-control-select" required>
                                                                        <option value="" disabled>Gender</option>
                                                                        <option value="male">Men</option>
                                                                        <option value="female">Woman</option>
                                                                    </select>

                                                                    <!-- Localisation -->
                                                                    <input type="text" id="location" name="location" class="form-control" placeholder="Location">

                                                                    <!-- Téléphone -->
                                                                    <input type="tel" id="mobile" name="mobile" class="form-control" placeholder="Mobile">

                                                                    <!-- Bouton Submit -->
                                                                    <button type="submit" class="btn-submit">Save Changes</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const passwordInput = document.getElementById("password");
        const togglePasswordButton = document.getElementById("togglePassword");

        // Fetch and populate user details, including unhashed password
        const params = new URLSearchParams(window.location.search);
        const userId = params.get("id");

        if (userId) {
            fetch(`../../../controller/user/getOneUser.php?id=${userId}&includePassword=true`)
                .then(response => response.json())
                .then(user => {
                    if (user) {
                        // Populate the form with user details
                        document.getElementById("first_name").value = user.first_name;
                        document.getElementById("last_name").value = user.last_name;
                        document.getElementById("date_of_birth").value = user.date_of_birth;
                        document.getElementById("email").value = user.email;
                        document.getElementById("mobile").value = user.mobile;
                        document.getElementById("gender").value = user.gender;
                        document.getElementById("role").value = user.role;
                        document.getElementById("location").value = user.location;
                        document.getElementById("password").value = user.password;

                        // Populate the password field with the unhashed password
                    } else {
                        alert("User not found.");
                    }
                })
                .catch(error => {
                    console.error("Error fetching user details:", error);
                    alert("Failed to fetch user details.");
                });
        } else {
            alert("No user ID provided.");
        }

        // Toggle password visibility
        togglePasswordButton.addEventListener("click", function () {
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                togglePasswordButton.textContent = "Hide";
            } else {
                passwordInput.type = "password";
                togglePasswordButton.textContent = "Show";
            }
        });

        // Handle form submission
        document.getElementById("editUserForm").addEventListener("submit", function (e) {
            e.preventDefault(); // Prevent default form submission

            const formData = new FormData(this);
            formData.append("id", userId);

            // Send the updated data to the server
            fetch(`../../../controller/user/updateUser.php`, {
                method: "POST",
                body: formData
            })
                .then(response => response.json())
                .then(result => {
                    if (result.success) {
                        alert("User updated successfully!");
                        window.location.href = "allUsers.html"; // Redirect to the users list
                    } else {
                        alert("Failed to update user: " + result.message);
                    }
                })
                .catch(error => {
                    console.error("Error updating user:", error);
                    alert("Failed to update user.");
                });
        });
    });

</script><!-- plugins:js -->
<script src="../../../../assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="../../../../assets/vendors/chart.js/Chart.min.js"></script>
<script src="../../../../assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="../../../../assets/vendors/progressbar.js/progressbar.min.js"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="../../../../assets/js/off-canvas.js"></script>
<script src="../../../../assets/js/hoverable-collapse.js"></script>
<script src="../../../../assets/js/template.js"></script>
<script src="../../../../assets/js/settings.js"></script>
<script src="../../../../assets/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="../../../../assets/js/dashboard.js"></script>
<script src="../../../../assets/js/Chart.roundedBarCharts.js"></script>
<!-- End custom js for this page-->
</body>

</html>

